<div class="flex justify-center items-center">
  <svg class="absolute" width="561" height="281" viewBox="0 0 561 281" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M558.5 135.375V145.832C555.991 146.43 553.393 147.85 551.255 150.263C548.396 153.49 546.5 158.33 546.5 165V261.5C546.5 266.428 544.826 270.657 541.95 273.64C539.088 276.608 534.883 278.5 529.5 278.5H35.5C31.7415 278.5 27.4577 277.268 24.1592 274.51C20.9366 271.815 18.4861 267.53 18.4861 261V163.254C18.5767 160.381 17.6123 156.247 14.7898 152.78C12.2227 149.628 8.23432 147.171 2.5 146.617V136.37C5.21151 136.094 8.46302 135.325 11.3435 133.59C15.3509 131.177 18.4861 126.964 18.4861 120.287V20C18.4861 15.52 19.947 11.1455 22.8473 7.92221C25.7059 4.74523 30.1275 2.5 36.4664 2.5H529.5C535.019 2.5 539.19 4.10104 541.982 6.89277C544.772 9.68253 546.5 13.978 546.5 20V118.5C546.5 121.655 546.556 125.929 548.465 129.39C549.464 131.203 550.954 132.778 553.098 133.873C554.628 134.655 556.421 135.158 558.5 135.375Z" stroke="#FCD91C" stroke-width="5"/>
  </svg>

  <div class="h-[89%] top-5 border border-white border-dashed absolute right-36"></div>

  <svg  width="601" height="313" viewBox="0 0 601 313" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_b_302_6)">
      <path d="M20 132.653C20 145.269 6.89884 148.547 1 148.547V165.002C14.7282 165.002 20 173.944 19.9368 179.925V287.579C19.9368 303.485 35.3852 312 45.8503 312H557.143C574.086 312 585 300.038 585 284.588V182.005C585 168.402 594.637 164.636 600 164.453V148.547C587.559 148.547 585 139.222 585 132.092V27.4151C585 9.97115 570.598 1 557.143 1H46.5C30.5 1 20 13.9169 20 25.8403V132.653Z" fill="#111111" fill-opacity="0.9"/>
      <path d="M20 132.653C20 145.269 6.89884 148.547 1 148.547V165.002C14.7282 165.002 20 173.944 19.9368 179.925V287.579C19.9368 303.485 35.3852 312 45.8503 312H557.143C574.086 312 585 300.038 585 284.588V182.005C585 168.402 594.637 164.636 600 164.453V148.547C587.559 148.547 585 139.222 585 132.092V27.4151C585 9.97115 570.598 1 557.143 1H46.5C30.5 1 20 13.9169 20 25.8403V132.653Z" stroke="#222222" stroke-opacity="0.7"/>
    </g>
    <defs>
      <filter id="filter0_b_302_6" x="-19.5" y="-19.5" width="640" height="352" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="10"/>
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_302_6"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_302_6" result="shape"/>
      </filter>
    </defs>
  </svg>
</div>
