---
import Discord from "../icons/discord.astro";
---

<ul class="flex gap-4 items-center">
  <a href="#" class="text-xl">Ingresar</a>
  <a href="http://discord.gg/midudev" target="_blank" class="flex gap-2 p-[10px] bg-[#5C43F5] rounded-lg text-xl">
    <span>
      <Discord />
    </span>
    Discord</a>
</ul>
