---
import Items from "./items.astro";
import Buttons from "./buttons.astro";
import Midufest from "./midufest.astro";
---

<nav class="fixed z-50 left-0 right-0 top-0">
  <div class="flex justify-between items-center max-w-screen-xl w-full mx-auto">
    <Midufest />
    <Items />
    <Buttons />
  </div>
</nav>


<style>
  nav {
    animation-name: navbar;
    animation-duration: 0.5m; /* Firefox requires this to apply the animation */
    animation-timeline: scroll(block nearest);
  }
  @keyframes navbar {
    from {
      backdrop-filter: blur(0);
      padding-top: 1rem;
    }
    to {
      backdrop-filter: blur(20px);
      padding-top: 10px;
    }
  }
</style>
